[Unit]
Description=Apply NOOBS config and STB configs
ConditionPathExists=/boot/os_config.json
Before=display-manager.service getty.target autologin@tty1.service

[Service]
Type=oneshot
TimeoutSec=300
ExecStart=/etc/init.d/get_init_stb_config.sh
ExecStartPost=/bin/systemctl disable apply_noobs_os_config

[Install]
WantedBy=multi-user.target

